body{background-image: url(https://gas-kvas.com/uploads/posts/2023-02/1675459062_gas-kvas-com-p-fonovii-risunok-frukti-32.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;}
.task_cont{
    text-align: left;
    border-bottom: 1px solid rgb(209, 209, 209);
    margin: 10px 20px 0 20px;
}

label{
    margin-left:20px;
}

input[type="text"]{
    text-decoration: none;
    width: 60%;
    margin: 15px;
}
button{width:20%; margin: 15px;}
input,button{cursor: pointer;}
#smalCont{
    text-align: center;
}

#bigCont{
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
    background: white;
}
@media screen and (max-width: 1030px) {
    #bigCont {
      width: 80%;
    }
    input[type="text"]{
        width: 80%;
        margin: 15px;
    }
    button{width:80%; margin: 15px;margin: 15px auto;}
  }